################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NexOrder.UserService.Application/bin/Debug/net8.0
/NexOrder.UserService.Application/obj
/NexOrder.UserService.Shared/bin/Debug/net8.0
/NexOrder.UserService.Shared/obj
/.vs/NexOrder.UserService
/NexOrder.UserService/Properties/launchSettings.json
